
body{ background:#dee9ff;}
.con{
  width: 600px;
  background:#FFFFFF;
  margin:0 auto;
  padding-top:30px;
  padding-left: 20px;
  padding-bottom:30px;
}

h1{
    
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 25px;         
  font-style: normal; 
  font-weight: bold; 
  color:#6f6f6f;
  text-align: center; 
  
}


.submit{
    
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
	width:400px;
	margin-top: 20px;
}
