<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>OtpVerify</filter-name>
  	<display-name>OtpVerify</display-name>
  	<description></description>
  	<filter-class>com.files.OtpVerify</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>OtpVerify</filter-name>
  	<url-pattern>/OtpVerify.jsp</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>Download</servlet-name>
  	<display-name>Download</display-name>
  	<description></description>
  	<servlet-class>com.files.Download</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReceiveMail</servlet-name>
  	<display-name>ReceiveMail</display-name>
  	<description></description>
  	<servlet-class>com.files.ReceiveMail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.files.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<display-name>StudentLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.files.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.files.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admission</servlet-name>
  	<display-name>Admission</display-name>
  	<description></description>
  	<servlet-class>com.files.Admission</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminProfile</servlet-name>
  	<display-name>AdminProfile</display-name>
  	<description></description>
  	<servlet-class>com.files.AdminProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentProfile</servlet-name>
  	<display-name>StudentProfile</display-name>
  	<description></description>
  	<servlet-class>com.files.StudentProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertResult</servlet-name>
  	<display-name>InsertResult</display-name>
  	<description></description>
  	<servlet-class>com.files.InsertResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admission1</servlet-name>
  	<display-name>Admission1</display-name>
  	<description></description>
  	<servlet-class>com.files.Admission1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Download1</servlet-name>
  	<display-name>Download1</display-name>
  	<description></description>
  	<servlet-class>com.files.Download1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Download</servlet-name>
  	<url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReceiveMail</servlet-name>
  	<url-pattern>/ReceiveMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admission</servlet-name>
  	<url-pattern>/Admission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminProfile</servlet-name>
  	<url-pattern>/AdminProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentProfile</servlet-name>
  	<url-pattern>/StudentProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertResult</servlet-name>
  	<url-pattern>/InsertResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admission1</servlet-name>
  	<url-pattern>/Admission1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Download1</servlet-name>
  	<url-pattern>/Download1</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
<welcome-file>Home.jsp</welcome-file>
</welcome-file-list>
</web-app>
